.signinup {

    display: flex;
    gap: 0;

    // left side

    &__left {
        width: calc(50vw - 100px);
        height: 100vh;
        padding: 30px 60px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::after {
            content: '';
            height: 67px;
        }
    }

    &__title {
        width: 100%;
    }

    &__logo {
        width: 270px;
        max-width: 100%;
    }

    &__tagline {
        text-transform: uppercase;
        font-family: 'sofia-medium';
        font-style: italic;
        margin-top: 6px;
        font-size: 14px;
    }

    &__form {
        width: clamp(50%, 375px, 100%);
        overflow-y: auto;

        h1 {
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: calc(36rem / 16);
        }

        .input-group:not(:last-of-type) {
            margin-bottom: 15px;
        }

        label {
            font-family: 'sofia-bold';
            color: var(--ct-black);
            display: block;
            margin-bottom: 5px;
        }

        sl-input {
            &::part(base) {
                background-color: transparent;
                border: solid var(--ct-midgrey) 1px;
                font-family: 'sofia-regular';
            }
        }

        sl-button {

            margin-top: 30px;

            &::part(base) {
                background-color: var(--ct-green);
                color: var(--ct-black);
                font-family: 'sofia-medium';
                border: none;
                font-size: calc(20rem / 16);

                &:hover {
                    background-color: var(--ct-tintedgreen);
                }
            }
        }
        
        p {
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }

    }

    // right side
    &__right {
        width: calc(50vw + 100px);
        height: 100vh;
        flex-shrink: 0;
        clip-path: polygon(200px 0, 100% 0, 100% 100%, 0px 100%);
        //overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20% 50%;
    }

}

#root:has(main.signinup) {
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .signinup {
        flex-direction: column;

        &__left {
            width: 100%;
            padding: 30px var(--ct-margins);

            &::after {
                height: 0;
            }
        }

        &__form {
            width: 100%;
            background-color: var(--ct-lightyellow-translucent);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            padding: 30px;
            border-radius: 30px;
        }

        &__right {
            position: absolute;
            z-index: -1;
            clip-path: none;
            width: 100%;
        }

        &__image {
            object-position: 20% 50%;
        }
    }

    // #root:has(main.signinup) {
    //     overflow: auto;
    // }
}

